
:root {
  --color-primary: #00f7ff;
  --color-primary-alt: #ffffff44;
  --color-secondary: #d42257;
  --color-background: #020014;
  --color-text: rgb(61, 68, 255);
  --color-light: #fff;
  --font-family-text: 'Monda', sans-serif;
  --font-family-headings: 'Bitcount Grid Double', monospace;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: 1.5;
    padding: 2rem;
    font-family: var(--font-family-text);


}




a {
  color: var(--color-anchor);
  text-decoration: none;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header h1 {
    font-family: var(--font-family-headings);
    color: var(--color-primary);
    font-size: var(--font-size-h1);
    font-weight: 400;
    text-shadow: 5px 5px 2px var(--color-primary-alt);
}

.skip-link {

    color: var(--color-text);
    z-index: 100;
    font-family: var(--font-family-subheadings);
}

.skip-link:hover {
    color: var(--color-light);
}

header h2, p {
    color: var(--color-text);
}

header svg {
    fill: var(--color-light);
    width: 50px;
    height: auto;
}

header .link-github {

    padding: 10px 14px;
    background-color: var(--color-primary);
    color: var(--color-text);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    gap: 8px;
    margin-top: 1rem;
}

